body, html {
    background-color: rgb(209, 87, 87);
    width: 500px;
    height: 600px;
}

div {
    left: 50%;
}

video {
    width: 500px;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 300px);
    padding-top: 50px;
}